@model IPagedList<DapperfunwithSp.Model.Employee>

@using PagedList;
@using PagedList.Mvc;
@using DapperfunwithSp.Models;
@{
    ViewBag.Title = "Index";
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }

        .field-icon {
            float: right;
            margin-left: -25px;
            margin-top: -25px;
            position: relative;
            z-index: 2;
        }

        .residntl_detl_banner h2 {
            font-size: 50px;
            color: #fff;
            line-height: 60px;
            text-shadow: 0 3px 5px #000000;
        }

        .central-border2 {
            display: inline-block;
            position: relative;
            height: 1px;
            background: #330000;
            width: 40%;
            margin-top: 10px;
        }

            .central-border2:before {
                position: absolute;
                height: 10px;
                background: #330000;
                width: 50%;
                content: "";
                left: 50%;
                transform: translateX(-50%);
                top: -5px;
            }
    </style>
}

<h2>Index</h2>

<a href="/Default/Create" class="btn btn-info">CREATE</a>
<input id="myInput" type="text" style="float: right; font-size: 136%; width: 20%; " placeholder="Search.. ">

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Email
            </th>
            <th>
                Password
            </th>
            <th>
                Gender
            </th>
            <th>
                Salary
            </th>
            <th>
                CountryName
            </th>
            <th>
                StateNme
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody id="mytable">
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Salary)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CountryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StateNme)
                </td>
                <td>
                    <a href="@Url.Action("Edit","Default",new {id=item.Employee_Id})"> <span class="glyphicon glyphicon-edit"></span></a> |

                    <a href="@Url.Action("delete","Default",new {id=item.Employee_Id})" onclick="return confirm('Are you sure you want to delete this item?');"> <span class="glyphicon glyphicon-remove"></span></a>
                </td>
            </tr>
        }
</tbody>
</table>
<div style="margin-top: -3%;">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, search = Request.QueryString["search"] }),
                              new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded, DisplayPageCountAndCurrentLocation = true })
</div>
@section scripts{

<script>
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#mytable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });

    $(document).ready(function () {
        $('#mytable').Table({
            "bInfo": false
        });
    });
</script>

}